@model QLRHM.Models.Thuoc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Create</h1>

<h4>Thuoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaThuoc" class="control-label"></label>
                <input asp-for="MaThuoc" class="form-control" />
                <span asp-validation-for="MaThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenThuoc" class="control-label"></label>
                <input asp-for="TenThuoc" class="form-control" />
                <span asp-validation-for="TenThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonViTinh" class="control-label"></label>
                <input asp-for="DonViTinh" class="form-control" />
                <span asp-validation-for="DonViTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

