@model QLRHM.Models.LichHen

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Create</h1>

<h4>LichHen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idndkh" class="control-label"></label>
                <select asp-for="Idndkh" class ="form-control" asp-items="ViewBag.Idndkh"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaLichHen" class="control-label"></label>
                <input asp-for="MaLichHen" class="form-control" />
                <span asp-validation-for="MaLichHen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LyDo" class="control-label"></label>
                <input asp-for="LyDo" class="form-control" />
                <span asp-validation-for="LyDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayHen" class="control-label"></label>
                <input asp-for="NgayHen" class="form-control" />
                <span asp-validation-for="NgayHen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioHen" class="control-label"></label>
                <input asp-for="GioHen" class="form-control" />
                <span asp-validation-for="GioHen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ntao" class="control-label"></label>
                <input asp-for="Ntao" class="form-control" />
                <span asp-validation-for="Ntao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nsua" class="control-label"></label>
                <input asp-for="Nsua" class="form-control" />
                <span asp-validation-for="Nsua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySua" class="control-label"></label>
                <input asp-for="NgaySua" class="form-control" />
                <span asp-validation-for="NgaySua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
