@model QLRHM.Models.KeToa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Edit</h1>

<h4>KeToa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Idbs" class="control-label"></label>
                <select asp-for="Idbs" class="form-control" asp-items="ViewBag.Idbs"></select>
                <span asp-validation-for="Idbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idbn" class="control-label"></label>
                <select asp-for="Idbn" class="form-control" asp-items="ViewBag.Idbn"></select>
                <span asp-validation-for="Idbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaToaThuoc" class="control-label"></label>
                <input asp-for="MaToaThuoc" class="form-control" />
                <span asp-validation-for="MaToaThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayLap" class="control-label"></label>
                <input asp-for="NgayLap" class="form-control" />
                <span asp-validation-for="NgayLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuanDoan" class="control-label"></label>
                <input asp-for="ChuanDoan" class="form-control" />
                <span asp-validation-for="ChuanDoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

