@using QLRHM.Models;
@model QLRHM.Models.NhomCongViec
@* @model Date *@

@{
    Layout = "~/Views/Shared/Home.cshtml";

}
@*   <input type="text" id="Search"> *@
<div class="container-fluid py-5 ">
    <div class="container">
        <ul style="font-weight:bold" class="nav nav-tabs custom-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i class='bx bx-book-content'></i> Chi tiết nhóm công việc</a></li>
            @*   <li><a data-toggle="tab" href="#menu1"><i class='bx bx-folder-plus'></i>Thêm nhóm công việc</a></li> *@
            @* <li><a data-toggle="tab" href="#menu2">Menu 2</a></li> *@
        </ul>
        <hr>
        @*    <button id="toggleFormButton" class="btn btn-primary">Thêm nhóm công việc</button> *@
        @using (Html.BeginForm("Edit", "NhomCongViecs", FormMethod.Post, new { id = "myForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="container-fluid" style="border: 5px solid #b8ceff;padding-bottom:10px;color:black">
                <div class="row">
                    @*   <b>Thêm nhóm công việc</b> *@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Mã nhóm công việc</label>
                            <div class='input-group'>
                                <input style="background-color:white;color:blue" name="MaNCV" type="text" asp-for="MaNcv" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Tên nhóm công việc</label>
                            <div class='input-group'>
                                <input asp-for="TenNcv" type="text" class="form-control" required oninvalid="this.setCustomValidity('Không được bỏ trống tên nhóm');" />
                            </div>
                            <span id="TenNCVError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Người tạo</label>
                            <div class='input-group'>
                                <input name="NgayTao" type="text" asp-for="Ntao" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>  <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Người sửa</label>
                            <div class='input-group'>
                                <input name="NgayTao" type="text" asp-for="Nsua" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Ngày thêm</label>
                            <div class='input-group'>
                                <input name="NgayTao" type="text" asp-for="NgayTao" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Ngày sửa</label>
                            <div class='input-group'>
                                <input name="NgaySua" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly />
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <a style="color:black" href="@Url.Action("Index", "NhomCongViecs")" class="btn btn-primary form-control">Quay lại</a>
                        </div>

                    </div>
                </div>
            </div>

        }



        @*    </div>
        <div id="menu1" class="tab-pane fade" style="color:#000">
        </div> *@

        @*  <div id="menu2" class="tab-pane fade">
        <form style="margin-left:3px" asp-action="ExportPdf" asp-controller="Dates">
        <button class="btn btn-primary" type="submit">Pdf theo bảng </button>
        </form>
        </div> *@

    </div>
</div>




