@model QLRHM.Models.CongViec

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Create</h1>

<h4>CongViec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idncv" class="control-label"></label>
                <select asp-for="Idncv" class ="form-control" asp-items="ViewBag.Idncv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idbh" class="control-label"></label>
                <select asp-for="Idbh" class ="form-control" asp-items="ViewBag.Idbh"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaCongViec" class="control-label"></label>
                <input asp-for="MaCongViec" class="form-control" />
                <span asp-validation-for="MaCongViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenCongViec" class="control-label"></label>
                <input asp-for="TenCongViec" class="form-control" />
                <span asp-validation-for="TenCongViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaSuDung" class="control-label"></label>
                <input asp-for="DonGiaSuDung" class="form-control" />
                <span asp-validation-for="DonGiaSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ntao" class="control-label"></label>
                <input asp-for="Ntao" class="form-control" />
                <span asp-validation-for="Ntao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nsua" class="control-label"></label>
                <input asp-for="Nsua" class="form-control" />
                <span asp-validation-for="Nsua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySua" class="control-label"></label>
                <input asp-for="NgaySua" class="form-control" />
                <span asp-validation-for="NgaySua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

